<?xml version="1.0" ?><pyCAR>
  <modules>
       <module description="This module is used to jump directly to the actual playing module" enabled="1" label="Jetzt läuft" name="playing" order="0" pages="0">{}</module>
       <module description="A module for playing music from USB in several formats" enabled="1" label="Musik" name="mp3" order="1" pages="3">{&quot;volume&quot;: {&quot;property&quot;: &quot;application.name&quot;, &quot;identyfier&quot;: &quot;MPlayer&quot;, &quot;value&quot;: 20}, &quot;shuffle&quot;: 0, &quot;album&quot;: &quot;A State Of Trance 2012 (Mixed Version)&quot;, &quot;position&quot;: 288, &quot;path&quot;: &quot;/media/pi/pyCar/Music&quot;, &quot;shuffleList&quot;: [], &quot;song&quot;: 14, &quot;repeat&quot;: 0}</module>
       <module description="A radio modul playing internetradio or real FM radio with a SI4703 Breakout board" enabled="0" label="Radio" name="radio" order="2" pages="1">{&quot;volume&quot;: 65, &quot;Si4703&quot;: {&quot;stations&quot;: {&quot;4&quot;: &quot;103.2&quot;, &quot;2&quot;: &quot;90.3&quot;, &quot;5&quot;: &quot;&quot;, &quot;3&quot;: &quot;100.5&quot;, &quot;1&quot;: &quot;103.6&quot;}, &quot;pause&quot;: 1, &quot;currentStation&quot;: &quot;103.6&quot;}, &quot;internet&quot;: {&quot;path&quot;: &quot;/media/pi/pyCar/Radio&quot;, &quot;currentStation&quot;: 4}}</module>
       <module description="Playing music from the connected device/cellphone" enabled="1" label="Bluetooth Audio" name="a2dp" order="3" pages="2">{&quot;volume&quot;: {&quot;property&quot;: &quot;media.role&quot;, &quot;identyfier&quot;: &quot;music&quot;, &quot;value&quot;: 19}, &quot;shuffle&quot;: 0, &quot;pause&quot;: 0, &quot;repeat&quot;: 0, &quot;a2dpPath&quot;: &quot;/Filesystem&quot;}</module>
       <module description="Make phonecalls directly from pyCAR" enabled="1" label="Telefon" name="phone" order="4" pages="4">{&quot;volume&quot;: {&quot;property&quot;: &quot;media.role&quot;, &quot;identyfier&quot;: &quot;phone&quot;, &quot;value&quot;: 60}}</module>
       <module description="The most important module to handle settings inside pyCAR. Never disable this module!" enabled="1" label="Einstellungen" name="setup" order="6" pages="6">{&quot;bt_auto&quot;: 1, &quot;bt_device&quot;: &quot;3C:2E:FF:1D:93:41&quot;, &quot;profile&quot;: &quot;Stereo-Ausgabe + Stereo-Eingabe&quot;, &quot;mixer&quot;: &quot;Headphone&quot;, &quot;card&quot;: &quot;wm8960-soundcard&quot;, &quot;bt_name&quot;: &quot;iPhone X&quot;, &quot;balance&quot;: -56, &quot;fader&quot;: 0}</module>
       <module description="A Turn-by-Turn-Navigation based on Navit" enabled="1" label="Navigation" name="navit" order="5" pages="1">{&quot;volume&quot;: {&quot;property&quot;: &quot;application.name&quot;, &quot;identyfier&quot;: &quot;eSpeak&quot;, &quot;value&quot;: 25}, &quot;voice&quot;: &quot;mb/mb-de5&quot;, &quot;speed&quot;: 150}</module>
       <module description="An example how to make modules for pyCAR" enabled="0" label="Example" name="example" order="7" pages="2">{}</module>
       <module description="A video player based on vlc" enabled="0" label="VLC" name="vlcPlayer" order="8" pages="2">{&quot;volume&quot;: 20}</module>
  </modules>
  <pulseaudio>{&quot;balance&quot;: 0, &quot;fader&quot;: 0, &quot;card&quot;: 0, &quot;profile&quot;: &quot;Stereo-Ausgabe + Stereo-Eingabe&quot;, &quot;port&quot;: &quot;Headphones&quot;, &quot;alsa&quot;: &quot;Headphone&quot;}</pulseaudio>
</pyCAR>