<?xml version="1.0" ?><pyCAR>
  <modules>
       <module description="This module is used to jump directly to the actual playing module" enabled="1" label="Jetzt läuft" name="playing" order="0" pages="0">{}</module>
       <module description="A module for playing music from USB in several formats" enabled="1" label="Musik" name="mp3" order="1" pages="3">{"volume": {"property": "application.name", "identyfier": "MPlayer", "value": 26}, "shuffle": 0, "album": "", "position": 0, "path": "", "shuffleList": [], "song": 0, "repeat": 0}</module>
       <module description="A radio modul playing internetradio or real FM radio with a SI4703 Breakout board" enabled="1" label="Radio" name="radio" order="2" pages="1">{"volume": 65, "Si4703": {"stations": {"4": "103.2", "2": "90.3", "5": "", "3": "100.5", "1": "103.6"}, "pause": 1, "currentStation": "103.6"}, "internet": {"path": "/media/pi/pyCar/Radio", "currentStation": 4}}</module>
       <module description="Playing music from the connected device/cellphone" enabled="1" label="Bluetooth Audio" name="a2dp" order="3" pages="2">{"volume": {"property": "media.role", "identyfier": "music", "value": 21}, "shuffle": 0, "pause": 0, "repeat": 0, "a2dpPath": "/Filesystem"}</module>
       <module description="Make phonecalls directly from pyCAR" enabled="1" label="Telefon" name="phone" order="4" pages="4">{"volume": {"property": "media.role", "identyfier": "phone", "value": 29}}</module>
       <module description="The most important module to handle settings inside pyCAR. Never disable this module!" enabled="1" label="Einstellungen" name="setup" order="6" pages="6">{"bt_auto": 1, "bt_device": "3C:2E:FF:1D:93:41", "usb": "/media/pi/pyCar"}</module>
       <module description="A Turn-by-Turn-Navigation based on Navit" enabled="1" label="Navigation" name="navit" order="5" pages="0">{"volume": {"property": "application.name", "identyfier": "eSpeak", "value": 25}, "voice": "mb/mb-de5", "speed": 150}</module>
       <module description="An example how to make modules for pyCAR" enabled="0" label="Example" name="example" order="7" pages="2">{}</module>
  </modules>
  <pulseaudio>{"balance": 0, "fader": 0, "card": "", "profile": "", "port": {"sink": "", "source": ""}, "alsaout": "Headphone", "microphone": 80}</pulseaudio>
</pyCAR>